[SUBROUTINE]
version = 2.0b
icon = arc-to-coords.png
name = _("XZ Arc To")
type = turn_xz_arc_end
help = _("<b>Arc ending at a diameter / Z pair</b>&#10;Radius or sagitta height.")
order = act end mode dia zed shape size rot flip

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_END]
name = _("Arc end")
type = sub-header

[PARAM_DIA]
name = _("X diameter")
header = end
type = float
icon = x.png
value = 1.0
metric_value = 25.0

[PARAM_ZED]
name = _("Z")
header = end
type = float
icon = z.png
value = -1.0
metric_value = -25.0

[PARAM_MODE]
name = _("End coords")
header = end
type = combo
options = _("Incremental=4:Absolute=5:Z incr, X abs=41:Z abs, X incr=42")
value = 4
icon = line-rel.png

[PARAM_SHAPE]
name = _("Bulge")
type = sub-header

[PARAM_SIZE]
name = _("Radius or height")
header = shape
type = float
minimum_value = 0
value = 1.0
metric_value = 25.0
icon = line-len.png
not_allowed = 0

[PARAM_KIND]
name = _("Bulge type")
header = shape
type = combo
options = _("Radius=0:Sagitta=1")
value = 0
icon = rad-arc-opt.png

[PARAM_ROT]
name = _("Direction")
header = shape
type = combo
options = _("CW=2:CCW=3")
value = 2
icon = cw-ccw.png

[PARAM_FLIP]
name = _("Far-side center")
type = bool
icon = swap-side.png
header = shape
value = 0

[CALL]
content =
	(segment #sub_name)
	o<#self_id_go> if [#param_act AND #<in_polyline>]
		#<ez> = #param_zed
		#<ex> = [#param_dia / #<_diameter_mode>]
		o<#self_id_m41> if [#param_mode EQ 41]
			o<poly_add_item> CALL [41] [#<ez>] [#<ex>] [#param_rot] [0] [0] [0] [1] [#param_size] [#param_kind] [#param_flip]
		o<#self_id_m41> elseif [#param_mode EQ 42]
			o<poly_add_item> CALL [42] [#<ez>] [#<ex>] [#param_rot] [0] [0] [0] [1] [#param_size] [#param_kind] [#param_flip]
		o<#self_id_m41> else
			o<poly_add_item> CALL [#param_mode] [#<ez>] [#<ex>] [#param_rot] [0] [0] [0] [1] [#param_size] [#param_kind] [#param_flip]
		o<#self_id_m41> endif
	o<#self_id_go> endif
	(end #sub_name)
