[SUBROUTINE]
version = 2.0b
icon = arc-to-ij.png
name = _("XZ Arc I,K")
type = turn_xz_arc_ik
help = _("<b>Circular segment with I/K center definition</b>")
order = act ctr cmode i koff arc dir sweep

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_CTR]
name = _("Center")
type = sub-header

[PARAM_CMODE]
name = _("Center mode")
header = ctr
type = combo
options = _("Offset=6:Absolute diameter=7:K offset, X abs=61:K abs, X offset=62")
value = 6
icon = line-rel.png

[PARAM_I]
type = float
name = _("I value")
icon = i.png
header = ctr
value = 0
metric_value = 0

[PARAM_KOFF]
type = float
name = _("K (Z)")
icon = k.png
header = ctr
value = -0.5
metric_value = -12

[PARAM_ARC]
name = _("Span")
type = sub-header

[PARAM_SWEEP]
name = _("Included angle")
header = arc
type = float
icon = angle.png
digits = 2
value = 90
suffix = &#176;

[PARAM_DIR]
name = _("Rotation")
header = arc
type = combo
options = _("CW=2:CCW=3")
value = 3
icon = cw-ccw.png

[PARAM_MODE]
name = _("Angle mode")
header = arc
type = combo
options = _("From arc start=0:Absolute=1")
value = 0
icon = line-rel.png

[CALL]
content =
	(segment #sub_name)
	o<#self_id_go> if [#param_act AND #<in_polyline>]
		#<cz> = #param_koff
		#<cx> = #param_i
		o<#self_id_abs> if [[#param_cmode EQ 7] OR [#param_cmode EQ 61]]
			#<cx> = [#param_i / #<_diameter_mode>]
		o<#self_id_abs> endif
		o<poly_add_item> CALL [#param_cmode] [#<cz>] [#<cx>] [#param_dir] [0] [0] [0] [1] [#param_sweep] [#param_mode]
	o<#self_id_go> endif
	(end #sub_name)
