[SUBROUTINE]
version = 2.0b
icon = line-to.png
name = _("XZ Line")
type = turn_xz_line
help = _("<b>Line segment along the turning profile</b>&#10;Target X diameter and Z.")
order = act hdr mode dia zed

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_HDR]
name = _("End point")
type = sub-header

[PARAM_DIA]
name = _("X diameter")
header = hdr
type = float
icon = x.png
value = 1.0
metric_value = 25.0

[PARAM_ZED]
name = _("Z")
header = hdr
type = float
icon = z.png
value = -1.0
metric_value = -25.0

[PARAM_MODE]
name = _("Coordinate mode")
header = hdr
type = combo
options = _("Incremental=0:Absolute=1:Z incr, X abs=10:Z abs, X incr=11")
value = 0
icon = line-rel.png

[CALL]
content =
	(segment #sub_name)
	o<#self_id_go> if [#param_act AND #<in_polyline>]
		#<seg_z> = #param_zed
		#<seg_x_rad> = [#param_dia / #<_diameter_mode>]
		o<#self_id_m10> if [#param_mode EQ 10]
			o<poly_add_item> CALL [10] [#<seg_z>] [#<seg_x_rad>] [1] [0] [0] [0] [1]
		o<#self_id_m10> elseif [#param_mode EQ 11]
			o<poly_add_item> CALL [11] [#<seg_z>] [#<seg_x_rad>] [1] [0] [0] [0] [1]
		o<#self_id_m10> else
			o<poly_add_item> CALL [#param_mode] [#<seg_z>] [#<seg_x_rad>] [1] [0] [0] [0] [1]
		o<#self_id_m10> endif
	o<#self_id_go> endif
	(end #sub_name)
