[SUBROUTINE]
version = 2.0b
icon = line-polar.png
name = _("XZ Polar Line")
type = turn_xz_polar
help = _("<b>Polar line on the profile plane</b>&#10;Length and angle from the Z axis.")
order = act hdr len ang ref h2 cs cr

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_HDR]
name = _("Polar move")
type = sub-header

[PARAM_LEN]
name = _("Length")
header = hdr
type = float
minimum_value = 0.0
icon = line-len.png
value = 1.0
metric_value = 25.0
not_allowed = 0

[PARAM_ANG]
name = _("Angle from Z+")
header = hdr
type = float
icon = angle.png
digits = 2
value = 45
suffix = &#176;

[PARAM_REF]
name = _("Angle reference")
header = hdr
type = combo
options = _("Absolute=2:From previous segment=3:From previous arc center=30")
value = 2
icon = line-rel.png

[PARAM_H2]
name = _("Corner")
type = sub-header

[PARAM_CS]
name = _("Type")
header = h2
type = combo
options = _("None=0:Fillet A=1:Chamfer C=2")
icon = corner-style.png
value = 0

[PARAM_CR]
name = _("Size")
header = h2
type = float
minimum_value = 0.0
icon = corner-radius.png
value = 0.05
metric_value = 1.0

[CALL]
content =
	(segment #sub_name)
	o<#self_id_go> if [#param_act AND #<in_polyline>]
		#<dz> = [#param_len * COS[#param_ang]]
		#<dx_rad> = [#param_len * SIN[#param_ang]]
		o<poly_add_item> CALL [#param_ref] [#<dz>] [#<dx_rad>] [1] [#param_cs] [#param_cr] [0] [1]
	o<#self_id_go> endif
	(end #sub_name)
