[SUBROUTINE]
version = 2.0b
icon = polyline.png
name = _("XZ Profile")
type = turn_xz_profile
help = _("<b>Turning profile in the XZ plane</b>&#10;Draw contour segments, then rough and finish like a CNC turning cycle.")
order = act rough h_dia dia0 dia1 h_ax z0 items

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_ROUGH]
name = _("Roughing cycle")
type = sub-header

[PARAM_MODE]
name = _("Cycle type")
header = rough
type = combo
options = _("Step-down along X (all LCNC)=0:G71 contour rough (LCNC 2.9+)=71:G72 face rough (LCNC 2.9+)=72")
value = 0
tool_tip = _("Profile shift works everywhere. G71/G72 need LinuxCNC 2.9 or a remap.")

[PARAM_H_DIA]
name = _("Diameter limits")
type = sub-header

[PARAM_DIA0]
name = _("Stock diameter")
header = h_dia
type = float
icon = x.png
value = 1.0
metric_value = 25.0

[PARAM_DIA1]
name = _("Finish diameter")
header = h_dia
type = float
icon = x-end.png
value = 0.8
metric_value = 20.0

[PARAM_H_AX]
name = _("Longitudinal axis")
type = sub-header

[PARAM_Z0]
name = _("Profile start Z")
header = h_ax
type = float
icon = z.png
value = 0.0
metric_value = 0.0

[PARAM_ITEMS]
name = _("Segments")
type = items
icon = items.png
tool_tip = _("Lines and arcs building the contour")

[DEFINITIONS]
content =
	O#ID sub
		o<lathe_path_walk> CALL [#<_mill_data_start>] [0] [1]
	O#ID endsub

[BEFORE]
content =
	(open #sub_name)
	o<#self_id_on> if [#param_act AND [#<in_polyline> EQ 0]]
		(seed profile buffer: machine Z maps to stored X, diameter X to stored Y in radius)
		o<poly_add_item> CALL [-1] [#param_z0] [#param_dia0 / #<_diameter_mode>]
		#<in_polyline> = 1
		(segment list for #sub_name)

[AFTER]
content =
		(end segment list)
		#<in_polyline> = 0
		o<#self_id_has> if [#5000 GT 0]
			o<poly_create> CALL
			o<#self_id_cyc> if [#param_mode EQ 0]
				o<lathe_rough_step> CALL [#<_mill_data_start>] [#param_dia0 / #<_diameter_mode>] [#param_dia1 / #<_diameter_mode>]
			o<#self_id_cyc> elseif [#param_mode EQ 71]
				o<get_max> CALL [41] [2] [#5410 * 1.1] [0.5]
				#<_x_clear> = #41
				G0 X[#param_dia0 + #<_x_clear>]
				G71.1 Q#ID D#<_rough_cut> I#<_finish_cut> R#<_x_clear>
				G70 Q#ID
			o<#self_id_cyc> elseif [#param_mode EQ 72]
				o<get_max> CALL [41] [2] [#5410 * 1.1] [0.5]
				#<_z_clear> = #41
				G0 Z[#param_z0 + #<_z_clear>]
				G72.1 Q#ID D#<_rough_cut> I#<_finish_cut> R#<_z_clear>
				G70 Q#ID
			o<#self_id_cyc> endif
		o<#self_id_has> endif
	o<#self_id_on> endif
	(close #sub_name)
